


input ,select{

    vertical-align: middle;
}

/************************main code INDEX -------------------*/

.wrapper
{
    height: 650px;
    width:1350px;

    /*background-color: red;*/

}

header{

    height: 190px;
    width: 1360px;
    background-color:black;

}

section{

    height:400px ;
    width: 1360px;
    background-color: grey;

}

footer{

    height:80px ;
    width: 1360px;
    background-color: black;
}

.logo{
   
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    
}

.logo img {

    padding-left:60px;
}

li a{

    color: white;
    text-decoration: none;

}

nav{

    float: right;
    word-spacing: 20px;
    padding: 20px;
}

nav li 
{

    display: inline-block;
    line-height: 30px;
}

section{

    margin-top:opx ;
    background-image:url("images/library.jpg") ;
    padding-top:1%;

}
    



.box{

    background-color: rgb(92, 87, 87);
    height:300px;
    width: 400px;
    margin:0px auto;
    opacity: .6;
    color: white;
   

}


/************************Student-Login-Styles -------------------*/




